* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
nav {
  font-family: "Fira code", sans-serif;
}

nav a {
  color: white;
}

.contact {
  font-family: "Fira code", sans-serif;
  color: white;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #03346e;
  height: 70px;
  padding: 0px 20px;
}

.logo {
  font-family: "revalia";
}

.contact {
  padding: 11px;
  background-color: #021526;
  border-radius: 30px;
}

.contact:hover {
  background-color: black;
  border: 1px solid #6eacda;
}

nav a:hover {
  color: black;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #6eacda;
  height: 75px;
  padding: 0px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.social {
  padding-left: 10px;
}

.main {
  display: flex;
  height: 538px;
  width: 100%;
  align-items: center;
  padding: 100px;
  justify-content: center;
}

.intro {
  font-family: "fira code";
  color: black;
  font-size: 17px;
}

.intro-btn {
  padding: 10px;
}

.more-btn {
  background-color: #03346e;
  color: white;
  border-radius: 30px;
  margin: 10px;
}

.achv-btn {
  background-color: #021526;
  color: white;
  margin: 10px;
  border-radius: 30px;
}

.btn-box {
  margin: 20px;
  margin-left: -15px;
}

.more-btn:hover {
  background-color: black;
  color: white;
  border: 1px solid #6eacda;
}

.achv-btn:hover {
  background-color: black;
  color: white;
  border: 1px solid #6eacda;
}

.left {
  margin-right: 200px;
}
